{% extends "layout.html" %}

{% block title %}
Grid View
{% endblock %}

{% block main %}
<div>
    <h1>Ho Ho Ho! Look at This Grid</h1>
    <p>❄️🎅🎄🦌☃️❄️</p>
    <h2>ABC</h2>
    <table class="table">
        <thead>
            <th scope="col">A</th>
            <th scope="col">B</th>
            <th scope="col">C</th>
        </thead>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
        <tr>
            <td>7</td>
            <td>8</td>
            <td>9</td>
        </tr>
        <tr>
            <td>10</td>
            <td>11</td>
            <td>12</td>
        </tr>
        <tr>
            <td>13</td>
            <td>14</td>
            <td>15</td>
        </tr>
    </table>
    <h2>DEF</h2>
    <table class="table">
        <thead>
            <th scope="col">D</th>
            <th scope="col">E</th>
            <th scope="col">F</th>
        </thead>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>
        <tr>
            <td>7</td>
            <td>8</td>
            <td>9</td>
        </tr>
        <tr>
            <td>10</td>
            <td>11</td>
            <td>12</td>
        </tr>
        <tr>
            <td>13</td>
            <td>14</td>
            <td>15</td>
        </tr>
    </table>
</div>
{% endblock %}
