{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<div>
    <h1>Ho Ho Ho! Welcome to the Battery Managing Website!</h1>
        <p>❄️🎅🎄🦌☃️❄️</p>

        <div class="d-flex">
            <table class="table">
                <thead>
                    <th scope="col">Tag</th>
                    <th scope="col">SoC</th>
                    <th scope="col">Resistance</th>
                </thead>
                <tr>
                    <th scope="row">000035</th>
                    <td>100%</td>
                    <td>0.020</td>
                </tr>
                <tr>
                    <th scope="row">000472</th>
                    <td>74%</td>
                    <td>0.020</td>
                </tr>
                <tr>
                    <th scope="row">047294</th>
                    <td>25%</td>
                    <td>0.018</td>
                </tr>
                <tr>
                    <th scope="row">003458</th>
                    <td>10%</td>
                    <td>0.030</td>
                </tr>
                <tr>
                    <th scope="row">672935</th>
                    <td>23%</td>
                    <td>0.015</td>
                </tr>
                <tr>
                    <th scope="row">004628</th>
                    <td>85%</td>
                    <td>0.018</td>
                </tr>
                <tr>
                    <th scope="row">000874</th>
                    <td>90%</td>
                    <td>0.015</td>
                </tr>
                <tr>
                    <th scope="row">000046</th>
                    <td>100%</td>
                    <td>0.022</td>
                </tr>
                <tr>
                    <th scope="row">000003</th>
                    <td>50%</td>
                    <td>0.040</td>
                </tr>
                <tr>
                    <th scope="row">000862</th>
                    <td>90%</td>
                    <td>0.012</td>
                </tr>
                <tr>
                    <th scope="row">000365</th>
                    <td>120%</td>
                    <td>0.015</td>
                </tr>
            </table>
        </div>
</div>
{% endblock %}
