<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>

    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon">

    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='node_modules/bootstrap-icons/font/bootstrap-icons.min.css') }}">
    <script src="{{ url_for('static', filename='node_modules/feather-icons/dist/feather.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/chart.js/dist/chart.umd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/@popperjs/core/dist/umd/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sync.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/html5-qrcode/html5-qrcode.min.js') }}"></script>
    <script src="{{ url_for('static', filename='qr_reader.js') }}"></script>
    <title>Battery Manager: {% block title %}{% endblock %}</title>

</head>

<body>
    <nav class="bg-light border navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Battery Manager</a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mt-2">
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'list_view' %}active{% endif %}"
                            href="{{ url_for('list_view') }}">List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'grid_view' %}active{% endif %}"
                            href="{{ url_for('grid_view') }}">Grid</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'load_matches' %}active{% endif %}"
                            href="{{ url_for('load_matches') }}">Load Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'settings' %}active{% endif %}"
                            href="{{ url_for('settings') }}">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container justify-content-end">
            <button class="btn m-2 btn-info" data-bs-toggle="modal" data-bs-target="#readerModal">
                <i class="bi bi-qr-code-scan"></i> Scan QR
            </button>
            <button class="btn m-2 btn-warning" id="statusButton"
                data-bs-toggle="modal" data-bs-target="#statusModal">Status Unknown
                <span><i class="bi bi-question-circle"></i></span>
            </button>
        </div>
    </nav>
    <header>
        {% if get_flashed_messages() %}
        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert mb-0 text-center {% if category == 'message' %}alert-info{% elif category == 'error' %}alert-danger{% elif category == 'success' %}alert-success{% else %}alert-secondary{% endif %}"
                role="alert">{{ message | e }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        {% endif %}
    </header>

    {% include 'modals.html' %}

    <main class="container py-5 text-center">
        {% block main %}{% endblock %}
    </main>
    <footer class="d-flex justify-content-center">© 2026 Breck Robotics. No Rights Reserved.</footer>
    <script nonce="{{ csp_nonce() }}">
        feather.replace();
    </script>
</body>

</html>